<link rel="stylesheet" href="~/css/Ajude/index.css" />


@using (Html.BeginForm("Index", "Home", FormMethod.Get))

{
    <button class="Btn">
        <svg height="1.2em" class="arrow" viewBox="0 0 512 512"><path d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"></path></svg>

    </button>
}
<!--<div class="texto container"></div>-->


<div class="meio container align-items-center">
    <div class="row justify-content-center align-content-center">
        <div class="titulo fs-3">Ajude-nos a melhorar cada vez mais o AGES!</div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-5" style="margin-bottom: 20px;">
            <div class="sugestao">
                <label for="exampleFormControlTextarea1" class="form-label">Qual a sua Sugestão?</label>
                <textarea class="form-control" id="mensagem" rows="3"></textarea>
            </div>

        </div>

        <div class="col-lg" style="padding-right: 15px;">
            <p>Deixe a sua Marca no Ages! </p>
            <div class="canais">
                Como jogador, você é fundamental para nós. Se quiser, compartilhe um pedaço da sua história enviando fotos significativas que tenha encontrado ou capturado (não se esqueça de incluir o ano e o local). Apreciamos a sua participação!
            </div>
            <div class="textlink">
                <label for="message-text" class="col-form-label">Anexe o Link da sua Imagem:</label>
            </div>
            <textarea class="form-control" id="link" rows="3"></textarea>
            <div class="d-flex justify-content-center">
                <div class="container-botao">
                    <button id="btn" class="botao-enviar">
                        <div id="btnText">Enviar</div>
                        <div class="check-box">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                                <path fill="transparent" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                            </svg>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="texto container">
    </div>
</div>
<script>
    const btn = document.querySelector("#btn");
    const btnText = document.querySelector("#btnText");

    btn.onclick = () => {
        btnText.innerHTML = "Obrigado";
        btn.classList.add("active");
    };


</script>