@{
    ViewData["Title"] = "Ages: The Game!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Ages.Models.JogoViewModel>;
<link rel="stylesheet" href="~/css/index.css" />
<script src="~/js/index.js"></script>
<script src="~/js/Global/setCookies.js"></script>

<div class="overlay align-content-center">
    <div class="logo-termo"></div>
    <div class="meio-overlay">

        <div class="wrapper" id="loading">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="shadow"></div>
            <div class="shadow"></div>
            <div class="shadow"></div>
            <span>Loading</span>
        </div>
        
        <div class="container-botao" id="botao-entrar" style="display: none">
            <button id="btn-termo" class="botao-enviar">
                <div id="btnText">Aceitar termos AGES</div>
                <div class="check-box">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                        <path fill="transparent" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                    </svg>
                </div>
            </button>
        <a asp-action="Termos" asp-controller="Home" asp-area="" class="termos" style="margin-top: 20px;"><span style="margin: auto;">Termos de Uso</span> </a>
        </div>
    </div>
</div>
<div class="container-fluid d-flex justify-content-between" style="height: 100px !important">
<div class="redes">
    
    <a class="instagram"  href="https://www.instagram.com/agesthegame/">
        
        
        <svg xmlns="http://www.w3.org/2000/svg"
             fill="#ffffff"
             viewBox="0,0,550,550"
             width="25px"
             height="25px"
             fill-rule="nonzero">
            <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path>
        </svg>
    </a>

    <a class="twitter"  href="#">
        <svg
      fill="white"
      class="svgIcon"
      xmlns="http://www.w3.org/2000/svg"
      width="25px"
      height="25px"
      viewBox="0 0 564 564"
    >
      <path
        d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"
      ></path>
    </svg>
  </a>


    

    <a class="discord"  href="https://discord.gg/uZ8fQUMeDX">
        <svg height="25px"
             width="25px"
             viewBox="0 0 48 48"
             xmlns="http://www.w3.org/2000/svg"
             class="discord">
            <path d="M40,12c0,0-4.585-3.588-10-4l-0.488,0.976C34.408,10.174,36.654,11.891,39,14c-4.045-2.065-8.039-4-15-4s-10.955,1.935-15,4c2.346-2.109,5.018-4.015,9.488-5.024L18,8c-5.681,0.537-10,4-10,4s-5.121,7.425-6,22c5.162,5.953,13,6,13,6l1.639-2.185C13.857,36.848,10.715,35.121,8,32c3.238,2.45,8.125,5,16,5s12.762-2.55,16-5c-2.715,3.121-5.857,4.848-8.639,5.815L33,40c0,0,7.838-0.047,13-6C45.121,19.425,40,12,40,12z M17.5,30c-1.933,0-3.5-1.791-3.5-4c0-2.209,1.567-4,3.5-4s3.5,1.791,3.5,4C21,28.209,19.433,30,17.5,30z M30.5,30c-1.933,0-3.5-1.791-3.5-4c0-2.209,1.567-4,3.5-4s3.5,1.791,3.5,4C34,28.209,32.433,30,30.5,30z"></path>
        </svg>
    </a>

    <a class="tiktok"  href="#">
        <svg xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 35 35"
             width="16px"
             
             height="16px"
             class="tiktok">
            <path d="M25.195102,6.75428571 C24.7946939,6.47510204 24.4148571,6.1675102 24.0587755,5.83346939 C22.8210612,4.66016327 22.0062857,3.11020408 21.7420408,1.42530612 C21.6622041,0.954367347 21.6220408,0.47755102 21.6220408,0 L15.7444898,0 L15.7444898,22.6408163 C15.7444898,27.5069388 13.5404082,28.5183673 10.804898,28.5183673 C10.0829388,28.5262041 9.36783673,28.3758367 8.71028571,28.0773061 C8.0524898,27.7792653 7.46791837,27.3406531 6.99820408,26.7920816 C6.5282449,26.2437551 6.18440816,25.5989388 5.99044898,24.9034286 C5.7964898,24.2079184 5.75755102,23.4781224 5.87583673,22.7657143 C5.99461224,22.053551 6.26767347,21.3756735 6.67640816,20.7800816 C7.08489796,20.1847347 7.61902041,19.6861224 8.24106122,19.3195102 C8.86334694,18.952898 9.55787755,18.7266122 10.276898,18.6573061 C10.9959184,18.588 11.7208163,18.6773878 12.4016327,18.9183673 L12.4016327,12.9328163 C5.40489796,11.8236735 0,17.4783673 0,23.5760816 C0.00465306122,26.4426122 1.14514286,29.1898776 3.17191837,31.216898 C5.19869388,33.2434286 7.94595918,34.3839184 10.8124898,34.3885714 C16.7730612,34.3885714 21.6220408,30.7444898 21.6220408,23.5760816 L21.6220408,11.3924082 C23.8995918,12.9795918 26.6204082,13.7142857 29.524898,13.7632653 L29.524898,8.26040816 C27.9658776,8.18914286 26.4617143,7.66604082 25.195102,6.75428571" fill="#FFFFFF"></path>
        </svg>
    </a>
</div>
    <header class="cabecalho">
        <nav class="cabecalho-menu">
            <a asp-action="Dashboard" asp-controller="Home" asp-area="" class="cabecalho-menu-item">Termos de Uso</a>
            <a asp-action="Privacidade" asp-controller="Home" asp-area="" class="cabecalho-menu-item">Privacidade</a>
            <a asp-action="Ajude" asp-controller="Home" asp-area="" class="cabecalho-menu-item">Ajude</a>
            <a asp-action="Sobre" asp-controller="Home" asp-area="" class="cabecalho-menu-item">Sobre</a>


        </nav>
    </header>

</div>

<div class="Jogos-Semana position-absolute">
    <div class="textosemana">
        <span>
            Jogos da
            <br />Semana:
        </span>
    </div>

    <div id="Jogosanteriores">
        @for (int i = Model[0].NumeroDeDias; i >= 1; i--)
        {
            <button class="item" id="botaoDia@(i)" onclick="selecionarDia(@i)">Dia @i</button>
        }
    </div>
</div>




<div class="logo"></div>

<div class="Jogos-Semana-celular" id="JogosRolagem" style="display: none">
    @for (int i = Model[0].NumeroDeDias; i >= 1; i--)
    {
        <div id="Jogosanteriores-celular" class="draggable-container">
            <button class="item item-celular" id="botaoCelular@(i)" onclick="selecionarDia(@i)">Dia @i</button> <!-- Inclua o número do dia no ID -->
        </div>
    }
</div>


<div style="margin:auto; margin-top: 60px; width: fit-content;">

    <div class="titulodificuldade">
        Dificuldade de Jogo:
    </div>
    <div class="container dificuldade">
        <div style="width: fit-content; margin: auto;">
            <input class="rangedificuldade" id="dificuldadeSelecionada" type="range" min="0" max="3" step="1" list="tickmarks" oninput="updateText(this)">
            <datalist id="tickmarks">
                <option value="Sem Tempo">Sem Tempo </option>
                <option value="Fácil">Fácil </option>
                <option value="Médio">Médio </option>
                <option value="Difícil">Difícil </option>
            </datalist>
            <div id="selectedOptionText"></div>
        </div>
    </div>
    @using (Html.BeginForm("Jogar", "Jogar", FormMethod.Post, new { id = "formEnviarDificuldade" }))
    {
        
        <input type="hidden" id="dificuldadeSelecionadaHidden" name="dificuldade" value="">

        <button type="button" onclick="enviarDificuldadeParaController()" class="button-style">JOGAR</button>
        // Adicionamos type="button" para evitar que o formulário seja submetido diretamente pelo botão
    }

    
    
    
    
  
    
    <button type="button"  style="padding:25px !important" class="button-style" data-bs-toggle="modal" data-bs-target="#exampleModal">
        OPÇÕES
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog container opcoes d-flex align-items-center justify-content-center" style="height: 100vh;">
            <div class="modal-content test">
                <div class="modal-header">
                    <div class="tituloconfig">
                        Opções
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="titulo-opcoes">
                        Configurações de Áudio
                    </div>
                    <div class="audio-control d-flex align-items-center">
                        <div class="audio-label">Desativar Música</div>
                        <label class="switch">
                            <input id="desativarmusicafundo" type="checkbox">
                            <div class="slider">
                                <div class="circulo">
                                    <svg class="cross" xml:space="preserve" style="enable-background:new 0 0 512 512" viewBox="0 0 365.696 365.696" y="0" x="0" height="6" width="6" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <!-- Conteúdo do SVG para o cross -->
                </svg>
                                    <svg class="checkmark" xml:space="preserve" style="enable-background:new 0 0 512 512" viewBox="0 0 24 24" y="0" x="0" height="10" width="10" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <!-- Conteúdo do SVG para o checkmark div -->
                </svg>
                                </div>
                            </div>
                        </label>
                    </div>


                    <div class="audio-botao d-flex align-items-center">

                        <div class="audio-label">
                                    Desativar Som do Botão
                                </div>

                                <label class="switch">
                                    <input id="desativarsom" type="checkbox">
                                    <div class="click">
                                        <div class="circulo">
                                            <svg class="cross" xml:space="preserve" style="enable-background:new 0 0 512 512" viewBox="0 0 365.696 365.696" y="0" x="0" height="6" width="6" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <!-- Conteúdo do SVG para o cross -->
        </svg>
                                            <svg class="checkmark" xml:space="preserve" style="enable-background:new 0 0 512 512" viewBox="0 0 24 24" y="0" x="0" height="10" width="10" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <!-- Conteúdo do SVG para o checkmark -->
        </svg>
                                        </div>
                                    </div>
                                </label>
                            
                            


                        

                    </div>
                    <hr style="border: 1px dashed #000;">




                    <div class="titulo-opcoes">

                        Versão do Jogo
                    </div>


                    <div class="audio-control audio-label d-flex align-items-center">Versão:<span class="opacity-75">v1.24.02</span></div>
                    <hr style="border: 1px dashed #000;">




                    <div class="titulo-opcoes">
                        Cursor Alternativo Ages
                    </div>

                    <div class="audio-control audio-label d-flex align-items-center">
                        <div class="audio-label3">
                            Ativar Cursor
                            
                        </div>
                        <label class="switch">
                            <input id="cursor"  type="checkbox" >
                            <div class="slider">
                                <div class="circulo">
                                    <svg class="cross" xml:space="preserve" style="enable-background:new 0 0 512 512" viewBox="0 0 365.696 365.696" y="0" x="0" height="6" width="6" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <!-- Conteúdo do SVG para o cross -->
                                </svg>
                                    <svg class="checkmark" xml:space="preserve" style="enable-background:new 0 0 512 512" viewBox="0 0 24 24" y="0" x="0" height="10" width="10" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <!-- Conteúdo do SVG para o checkmark div -->
                                </svg>
                                </div>
                            </div>
                        </label>
                        
                    </div>
                    <hr style="border: 1px dashed #000;">














                    <div class="opcoes d-flex align-items-center justify-content-center">
                        <div class="menu-opcoes">
                            <div class="row ">

                                <div class="col">

                                    <div class="termos">





                                        <div class="termosuso d-flex">
                                            <div class="icone">

                                                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                                                <i class="fa fa-file-text-o" style="font-size:15px"></i>
                                            </div>
                                            <div class="termosecondicoes">
                                                <a asp-action="Termos" asp-controller="Home" asp-area="" class="termos"><nobr> Termos de Uso </nobr></a>
                                            </div>


                                        </div>




                                        <div class="termosuso d-flex">
                                            <div class="icone">

                                                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                                                <i class="fa fa-file-text-o" style="font-size:15px"></i>
                                            </div>
                                            <div class="termosecondicoes">
                                                <a asp-action="Privacidade" asp-controller="Home" asp-area="" class="termos"> <nobr>  Política de Privacidade  </nobr></a>
                                            </div>


                                        </div>


                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>





                </div>
            </div>
        </div>
    </div>





    
    
   
    
    
    <button class="button-style"  style="padding:25px !important" type="button" data-bs-toggle="modal" data-bs-target="#comofunciona">COMO FUNCIONA</button>
</div>




<div class="modal fade " id="comofunciona" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog container opcoes d-flex align-items-center justify-content-center" style="height: 100vh;">
        <div class="modal-content test">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Seja Bem-Vindo e Tenha um Ótimo Jogo!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Explore o passado e descubra quando e onde momentos históricos foram testemunhados através de imagens que marcaram época. O <span style="color: #EB7EE1;">Ages</span> fará você adentrar no coração das fotografias, analisando detalhes e mergulhando a fundo na história moderna!</p>
                <p class="fs-3">Seu objetivo é:</p>
                <p class="objetivo"> O desafio é escolher um modo de jogo, ser rápido e eficaz nas tentativas para maximizar sua pontuação final. </p>
                <p class="fs-3">Pontuação:</p>
                <p> Sua pontuação depende de seis fatores: o modo de jogo (sem tempo, fácil, médio ou difícil), o tempo gasto em cada rodada, o número de tentativas,e a divisão da pontuação total pelo número de rodadas.</p>
            </div>
        </div>
    </div>
</div>

</div>


<div class="redes2 position-fixed bottom-0 end-0" data-bs-toggle="modal" data-bs-target="#exampleModal2" data-bs-whatever="contato">


    <a class="ajuda">
        ¿
    </a>

</div>


<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog container opcoes d-flex align-items-center justify-content-center" style="height: 100vh;">
        <div class="modal-content modalcontato">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Nova Mensagem</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Seu Email:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Sua Mensagem:</label>
                        <textarea class="form-control" id="mensagem"></textarea>
                    </div>
                </form>
            </div>
            <button type="button" class="position-absolute bottom-0 start-50 translate-middle-x Botaoenviar" data-bs-dismiss="modal">Enviar</button>
        </div>
    </div>
</div>



<div class="redes2 position-fixed bottom-0 end-0" data-bs-toggle="modal" data-bs-target="#exampleModal2" data-bs-whatever="contato">

    <a class="ajuda">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="1280.000000pt" height="732.000000pt" viewBox="0 0 1280.000000 732.000000" preserveAspectRatio="xMidYMid meet">
            <g transform="translate(0.000000,732.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                <path d="M3022 6300 c-323 -25 -628 -106 -897 -235 -126 -61 -176 -99 -208 -158 -22 -42 -22 -48 -25 -537 -2 -340 0 -507 8 -533 16 -54 64 -105 107 -113 55 -10 101 10 229 100 260 185 491 279 757 308 238 25 394 -38 469 -190 31 -62 33 -73 32 -167 0 -84 -4 -110 -26 -163 -63 -151 -147 -251 -414 -488 -88 -78 -185 -169 -214 -201 -233 -254 -340 -525 -340 -863 0 -226 44 -413 115 -486 47 -49 75 -58 230 -75 109 -11 175 -29 175 -47 0 -6 -42 -31 -92 -58 -263 -134 -392 -262 -459 -454 -31 -88 -38 -260 -15 -362 54 -242 267 -452 528 -520 116 -30 328 -30 440 0 207 56 377 191 467 370 85 169 85 425 -2 597 -74 148 -176 240 -392 355 -144 77 -144 89 3 116 108 19 160 41 191 80 36 45 37 87 5 193 -22 76 -28 116 -28 191 0 221 78 334 449 652 425 364 590 592 690 953 62 223 67 228 165 184 36 -15 79 -28 95 -29 39 0 98 28 160 75 158 122 326 213 496 269 390 130 669 87 768 -117 69 -141 43 -319 -70 -484 -50 -72 -160 -183 -324 -328 -180 -159 -251 -232 -334 -345 -158 -212 -231 -445 -231 -729 1 -240 46 -428 120 -495 46 -42 80 -52 224 -66 128 -13 185 -32 166 -55 -7 -8 -58 -39 -114 -68 -146 -76 -207 -119 -284 -202 -121 -129 -172 -262 -172 -445 0 -123 16 -195 65 -295 91 -184 270 -324 490 -381 101 -27 321 -24 426 4 208 56 378 190 464 367 89 183 89 429 1 603 -73 145 -180 242 -381 346 -90 46 -132 73 -124 79 2 1 11 8 20 15 9 6 59 20 111 31 106 21 147 39 176 76 35 44 35 84 2 210 -44 173 -39 270 24 400 45 94 122 183 264 307 65 57 164 142 219 191 352 306 527 566 618 917 47 181 59 192 155 149 107 -47 141 -38 297 78 224 165 457 263 722 301 196 28 344 -5 440 -98 104 -101 127 -259 61 -432 -47 -126 -148 -245 -390 -458 -262 -231 -358 -345 -451 -534 -86 -174 -119 -327 -119 -545 0 -145 18 -280 48 -373 45 -135 100 -171 286 -188 129 -11 195 -33 175 -56 -6 -7 -63 -41 -127 -74 -143 -75 -191 -110 -275 -200 -75 -78 -137 -195 -158 -295 -18 -85 -16 -228 4 -305 64 -246 265 -441 526 -512 109 -30 333 -30 444 0 256 70 452 262 511 503 20 83 21 243 0 329 -25 110 -77 203 -161 291 -78 82 -144 129 -278 198 -44 22 -89 47 -100 56 -31 25 -3 41 113 63 111 22 153 41 186 85 27 36 25 109 -3 197 -46 140 -38 286 21 407 57 115 126 187 456 472 445 384 634 699 673 1128 41 457 -84 842 -361 1106 -229 219 -542 350 -954 398 -134 16 -476 16 -601 0 -404 -50 -831 -196 -965 -331 -56 -56 -70 -99 -70 -221 -2 -270 -27 -437 -65 -423 -9 4 -48 72 -86 152 -96 200 -163 299 -278 412 -191 190 -425 308 -740 374 -378 80 -812 68 -1204 -33 -243 -63 -506 -179 -586 -260 -59 -58 -71 -100 -71 -258 -1 -207 -25 -393 -51 -393 -18 0 -44 42 -118 193 -89 184 -161 287 -277 397 -220 209 -512 334 -904 385 -141 18 -409 26 -548 15z" />
            </g>
        </svg>
    </a>

</div>



<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog position-absolute top-0 end-0" style="margin-top: 300px">
        <div class="modal-content modalcontato">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Nova Mensagem</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Seu Email:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Sua Mensagem:</label>
                        <textarea class="form-control" id="mensagem"></textarea>
                    </div>
                </form>
            </div>
            <button type="button" class="Botaoenviar">Enviar</button>
        </div>
    </div>
</div>





 <script>
    window.onload = function () {
        // Obtenha o número do dia atual
        var diaAtual = @Model[0].NumeroDeDias;

        // Selecione o botão correspondente ao dia atual e adicione a classe 'selecionado-fade'
        var botaoDiaAtual = document.getElementById('botaoDia' + diaAtual);
        botaoDiaAtual.classList.add('selecionado-fade');
    };

    // Função para selecionar um dia quando clicado
   

 </script>