@model Ages.Models.DificuldadeViewModel
<link rel="stylesheet" href="~/css/Jogar/index.css" />
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="~/js/Jogar/index.js"></script>
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <button class="Btn">
        <svg height="1.2em" class="arrow" viewBox="0 0 512 512"><path d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"></path></svg>
    </button>
}

@* <div id="alert" class="alerta position-absolute top-0 end-0 alert alert-primary d-flex align-items-center" role="alert">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-9">
                <div> Atenção!</div>
                <div> Se você não souber a resposta, tente "chutar" 😉 </div>
            </div>
            <div class="d-flex align-items-center col">
                <button onclick="mostra_oculta()" type="button" class="btn-close" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div> *@
<div class="overlay">
    <div class="wrapper">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
        <span>Loading</span>
    </div>
</div>

<div class="container d-flex justify-content-center">
    @* commit 2.0 *@

    <div>
        <div style="margin-top: 250px">
            <button class="pass">
                <svg height="2em" class="arrow" viewBox="0 0 512 512"><path d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"></path></svg>

            </button>
        </div>
    </div>


    

    <div class="jogo">
        <div class="timer"></div>
        <img class="imagem" src="@Model.ViewModel[0].Imagem"/>
    </div>
    <div>
        <div style="margin-top: 250px">
            <button class="pass2">
                <svg height="2em" class="arrow2" viewBox="0 0 512 512"><path d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"></path></svg>

            </button>
        </div>
    </div>

</div>

<div class="container d-flex">
    <div class="container text-center">
        <div class="row row-cols-10" id="grid">
            <div class="col2"></div>
            <div class="col">
                <h1 class="textos">Qual o Continente?</h1>
                <label for="exampleDataList" class="form-label"></label>
                <input class="form-control inputs" list="datalistOptions2" id="continente" placeholder="Digite um Continente..." required>
                <div class="invalid-tooltip">
                    Please select a valid state.
                </div>
                <datalist id="datalistOptions2">
                    <select>
                        <option></option>
                        <option></option>
                        <option>África</option>
                        <option>América do Norte</option>
                        <option>América do Sul</option>
                        <option>América Central</option>
                        <option>Ásia</option>
                        <option>Europa</option>
                        <option>Oceania</option>
                    </select>
                </datalist>
            </div>
            <div class="col">
                <h1 class="textos">Qual o País?</h1>
                <label for="examplepaises" class="form-label"></label>
                <input class="form-control inputs" list="paises" id="pais" placeholder="Digite um País..." required>
                <div class="invalid-tooltip">
                    Please select a valid state.
                </div>
                <datalist id="paises">
                    <option></option>
                    <option></option>
                    <select>
                        <option>Afeganistão</option>
                        <option>África do Sul</option>
                        <option>Albânia</option>
                        <option>Alemanha</option>
                        <option>Andorra</option>
                        <option>Angola</option>
                        <option>Antígua e Barbuda</option>
                        <option>Arábia Saudita</option>
                        <option>Argélia</option>
                        <option>Argentina</option>
                        <option>Armênia</option>
                        <option>Austrália</option>
                        <option>Áustria</option>
                        <option>Azerbaijão</option>
                        <option>Bahamas</option>
                        <option>Bahrein</option>
                        <option>Bangladesh</option>
                        <option>Barbados</option>
                        <option>Bélgica</option>
                        <option>Belize</option>
                        <option>Benin</option>
                        <option>Bielorrússia</option>
                        <option>Bolívia</option>
                        <option>Bósnia e Herzegovina</option>
                        <option>Botsuana</option>
                        <option>Brasil</option>
                        <option>Brunei</option>
                        <option>Bulgária</option>
                        <option>Burquina Faso</option>
                        <option>Burundi</option>
                        <option>Butão</option>
                        <option>Cabo Verde</option>
                        <option>Camarões</option>
                        <option>Camboja</option>
                        <option>Canadá</option>
                        <option>Catar</option>
                        <option>Cazaquistão</option>
                        <option>Chade</option>
                        <option>Chile</option>
                        <option>China</option>
                        <option>Chipre</option>
                        <option>Cingapura</option>
                        <option>Colômbia</option>
                        <option>Comores</option>
                        <option>Congo-Brazzaville</option>
                        <option>Congo-Kinshasa</option>
                        <option>Coreia do Norte</option>
                        <option>Coreia do Sul</option>
                        <option>Costa do Marfim</option>
                        <option>Costa Rica</option>
                        <option>Croácia</option>
                        <option>Cuba</option>
                        <option>Dinamarca</option>
                        <option>Djibuti</option>
                        <option>Dominica</option>
                        <option>Egito</option>
                        <option>El Salvador</option>
                        <option>Emirados Árabes Unidos</option>
                        <option>Equador</option>
                        <option>Eritreia</option>
                        <option>Eslováquia</option>
                        <option>Eslovênia</option>
                        <option>Espanha</option>
                        <option>Estados Unidos</option>
                        <option>Estônia</option>
                        <option>Etiópia</option>
                        <option>Fiji</option>
                        <option>Filipinas</option>
                        <option>Finlândia</option>
                        <option>França</option>
                        <option>Gabão</option>
                        <option>Gâmbia</option>
                        <option>Gana</option>
                        <option>Geórgia</option>
                        <option>Granada</option>
                        <option>Grécia</option>
                        <option>Guatemala</option>
                        <option>Guiana</option>
                        <option>Guiné</option>
                        <option>Guiné Equatorial</option>
                        <option>Guiné-Bissau</option>
                        <option>Haiti</option>
                        <option>Holanda</option>
                        <option>Honduras</option>
                        <option>Hungria</option>
                        <option>Iêmen</option>
                        <option>Ilhas Marshall</option>
                        <option>Ilhas Salomão</option>
                        <option>Índia</option>
                        <option>Indonésia</option>
                        <option>Irã</option>
                        <option>Iraque</option>
                        <option>Irlanda</option>
                        <option>Islândia</option>
                        <option>Israel</option>
                        <option>Itália</option>
                        <option>Jamaica</option>
                        <option>Japão</option>
                        <option>Jordânia</option>
                        <option>Kiribati</option>
                        <option>Kosovo</option>
                        <option>Kuwait</option>
                        <option>Laos</option>
                        <option>Lesoto</option>
                        <option>Letônia</option>
                        <option>Líbano</option>
                        <option>Libéria</option>
                        <option>Líbia</option>
                        <option>Liechtenstein</option>
                        <option>Lituânia</option>
                        <option>Luxemburgo</option>
                        <option>Macedônia do Norte</option>
                        <option>Madagascar</option>
                        <option>Malásia</option>
                        <option>Malaui</option>
                        <option>Maldivas</option>
                        <option>Mali</option>
                        <option>Malta</option>
                        <option>Marrocos</option>
                        <option>Maurício</option>
                        <option>Mauritânia</option>
                        <option>México</option>
                        <option>Micronésia</option>
                        <option>Moçambique</option>
                        <option>Moldávia</option>
                        <option>Mônaco</option>
                        <option>Mongólia</option>
                        <option>Montenegro</option>
                        <option>Myanmar</option>
                        <option>Namíbia</option>
                        <option>Nauru</option>
                        <option>Nepal</option>
                        <option>Nicarágua</option>
                        <option>Níger</option>
                        <option>Nigéria</option>
                        <option>Niue</option>
                        <option>Noruega</option>
                        <option>Nova Zelândia</option>
                        <option>Omã</option>
                        <option>Palau</option>
                        <option>Panamá</option>
                        <option>Papua-Nova Guiné</option>
                        <option>Paquistão</option>
                        <option>Paraguai</option>
                        <option>Peru</option>
                        <option>Polônia</option>
                        <option>Portugal</option>
                        <option>Quênia</option>
                        <option>Quirguistão</option>
                        <option>Reino Unido</option>
                        <option>República Centro-Africana</option>
                        <option>República Dominicana</option>
                        <option>República Tcheca</option>
                        <option>Romênia</option>
                        <option>Ruanda</option>
                        <option>Rússia</option>
                        <option>Saara Ocidental</option>
                        <option>Samoa</option>
                        <option>Santa Lúcia</option>
                        <option>São Cristóvão e Nevis</option>
                        <option>São Marinho</option>
                        <option>São Tomé e Príncipe</option>
                        <option>São Vicente e Granadinas</option>
                        <option>Seicheles</option>
                        <option>Senegal</option>
                        <option>Serra Leoa</option>
                        <option>Sérvia</option>
                        <option>Síria</option>
                        <option>Somália</option>
                        <option>Sri Lanka</option>
                        <option>Suazilândia</option>
                        <option>Sudão</option>
                        <option>Sudão do Sul</option>
                        <option>Suécia</option>
                        <option>Suíça</option>
                        <option>Suriname</option>
                        <option>Tailândia</option>
                        <option>Taiwan</option>
                        <option>Tajiquistão</option>
                        <option>Tanzânia</option>
                        <option>Timor-Leste</option>
                        <option>Togo</option>
                        <option>Tonga</option>
                        <option>Trinidad e Tobago</option>
                        <option>Tunísia</option>
                        <option>Turcomenistão</option>
                        <option>Turquia</option>
                        <option>Tuvalu</option>
                        <option>Ucrânia</option>
                        <option>Uganda</option>
                        <option>Uruguai</option>
                        <option>Uzbequistão</option>
                        <option>Vanuatu</option>
                        <option>Vaticano</option>
                        <option>Venezuela</option>
                        <option>Vietnã</option>
                        <option>Zâmbia</option>
                        <option>Zimbábue</option>
                    </select>
                </datalist>
            </div>
            <div class="col">
                <h1 class="textos">Qual o Ano?</h1>
                <label for="examplepaises" class="form-label"></label>
                <input class="form-control inputs" type="text" placeholder="Digite um Ano..." aria-label="Digite um Ano..." id="ano" required>
                <div class="invalid-tooltip">
                    Please select a valid state.
                </div>
            </div>
            <div class="col d-flex justify-content-start">
                <button class="avancar" id="proximoBtn">
                    Avançar!
                </button>
            </div>
        </div>
    </div>
</div>

    <script>

        var dificuldade = @Model.Dificuldade;

    </script>
