
<link rel="stylesheet" href="~/css/Privacidade/index.css" />
@using System.Web

@using (Html.BeginForm("Index", "Home", FormMethod.Get))


{
    <button class="Btn">
        <svg height="1.2em" class="arrow" viewBox="0 0 512 512"><path d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"></path></svg>
      
    </button>
}





<div   class="container termos">


    <h1 id="titulo-politica">Política de Privacidade </h1>
    <p1 id="explicacao-politica">
        •  A política em questão se fundamenta no respeito à sua privacidade (em relação a todas e quais queres informações que possam ser utilizadas durante sua participação como usuário no jogo).
        Por conseguinte, elaboramos este documento de Política de 
        Privacidade com o intuito de assegurar que você esteja plenamente ciente do tratamento de dados.
    </p1>
    <h1 id="secao1-titulo">Seção 1 - Informações Gerais  </h1>
    
        <p1 id="explicaosecao1pt1">
        • A presente Política de Privacidade contém informações sobre coleta, uso, armazenamento, tratamento e proteção dos dados pessoais
        dos usuários e visitantes do site ____ com a finalidade de demonstrar absoluta transparência quanto ao assunto e esclarecer a todos
        interessados sobre os tipos de dados que são coletados, os motivos da coleta e a forma como os usuários podem gerenciar ou excluir as suas informações pessoais.
        </p1>
    
        
        <p1 id="explicaosecao1pt2">

        • Esta Política de Privacidade aplica-se a todos os usuários e visitantes do site ____ e integra os Termos e Condições Gerais de Uso do site ____. O presente documento foi elaborado em conformidade com a Lei Geral de Proteção de Dados Pessoais (Lei 13.709/18), o Marco Civil da Internet (Lei 12.965/14) (e o Regulamento da UE n. 2016/6790). Ainda, o documento poderá ser atualizado em decorrência de eventual atualização normativa, razão pela qual se convida o usuário a consultar periodicamente esta seção.
    </p1>



    <h1 id="secao2-titulo">
        Seção 2 – Coleta de Dados </h1>

</div>




<div class="end-0 top-0 logo"></div>