
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


body {
    cursor: url('../Imagens/cursor.cur'), auto;
    overflow-x: hidden;
}



.Btn {
    width: 45px;
    height: 45px;
    background: linear-gradient(#eb7fe2, rgb(197, 49, 149));
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    border: none;
    transform: rotate(-90deg) scale(1, 1);
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: 0 0 0 2px var(--secundarycolor);
    z-index: 999;
}

.arrow path {
    fill: white;
}



@keyframes slide-in-bottom {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#container-jogo {
    height: auto; /* Define a altura como automática para que o contêiner ajuste seu tamanho de acordo com o conteúdo */
}


.jogo {
    display: flex; /* Torna o container um flex container */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.3), inset -100px -100px 100px 0 #00000086;
    box-shadow: 0 0 0 2px rgb(197, 49, 149), 0 0 0 6px var(--secundarycolor);
    background-color: white;
    position: relative;
    border-radius: 50px;
    font-family: 'Righteous', sans-serif;
    height: auto; /* Define a altura como automática para ajustar ao tamanho da imagem */
    max-width: 100%;
    max-height: 450px; /* Define o máximo de altura da imagem */
    width: fit-content; /* Define a largura da div como 100% */
    overflow: hidden;
    margin-top: -50px;
}

    .jogo img {
        margin: auto; /* Remove margem adicionada automaticamente */
        border-radius: 50px;
        max-width: 600px; /* Define a largura máxima da imagem */
        height: auto; /* Ajusta automaticamente a altura da imagem */
        width: 100%; /* Garante que a imagem ocupe toda a largura da div */
    }



/*@media (max-width: 570px) {


    .timer {
        transform: scale(0.7);
        margin-right: -35px;
    }


}*/




@media (max-width: 620px) {
    .pass, .pass2 {
        height: fit-content !important;
    }
    .botao-esqurda {
        position: fixed;
        bottom: 0;
        left: 0;
        margin-bottom: 50px; /* Ajuste essa margem conforme necessário */
        z-index: 999;
    }

    .botao-direito {
        position: fixed;
        bottom: 0;
        right: 0;
        margin-bottom: 50px; /* Ajuste essa margem conforme necessário */
        z-index: 999;
    }

    .jogo {
        height: auto;
        max-width: 900px;
        max-height: 400px !important;
    }

        .jogo img {
            height: auto;
            max-width: 100%;
            max-height: 400px !important;
        }


   
}





    .textos {
        font-family: 'Righteous', sans-serif;
        font-size: 20px;
        color: white;
    }

    .inputs {
        margin-top: -18px;
        border-radius: 100px;
    }

    .row {
        margin-top: 35px;
    }


    .col2 {
        width: 160px;
    }

    #fixado {
        z-index: 215 !important;
    }


.timer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: var(--secundarycolor);
    z-index: 999;
}

.timer-barra {
    height: 100%; /* Ajuste a altura para ocupar a altura da div pai */
    background-color: var(--maincolor); /* cor do timer */
    transition: width 0.3s ease;
    border-radius: 25px;
}




    .path--background {
        fill: #C57ED9;
        stroke: #fff;
        stroke-width: 0px;
        background-color: white !important;
    }

    .pulse {
        fill: rgb(255, 74, 74) !important;
    }

    .path--foreground {
        fill: #eee;
        stroke: #eee;
        stroke-width: 2px;
    }

    .label {
        font-weight: 900;
        text-anchor: middle;
        fill: #C57ED9;
        font: 40px'Righteous', sans-serif;
    }

    .pass {
        width: 100px;
        height: 40px;
        background: linear-gradient(rgba(235, 127, 226, 0.3), rgba(197, 49, 149, 0.3));
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
        cursor: pointer;
        position: relative;
        border: none;
        transform: rotate(-90deg) scale(1, 1);
        z-index: 777;
    }

    .arrow path {
        fill: white;
    }


    .pass:hover .text {
        opacity: 1;
        transition-duration: .7s;
    }

    .pass:hover .arrow {
        animation: slide-in-bottom .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    @keyframes slide-in-bottom {
        0% {
            transform: translateY(10px);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }



    .pass2 {
        width: 100px;
        height: 40px;
        background: linear-gradient(rgba(235, 127, 226, 0.3), rgba(197, 49, 149, 0.3));
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
        cursor: pointer;
        position: relative;
        border: none;
        transform: rotate(90deg);
        z-index: 77;
    }

    .arrow2 path {
        fill: white;
    }


    .pass2:hover .text {
        opacity: 1;
        transition-duration: .7s;
    }

    .pass2:hover .arrow2 {
        animation: slide-in-bottom .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    @keyframes slide-in-bottom {
        0% {
            transform: translateY(10px);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../../Imagens/fundo-alternativo.png); /* imagem de fundo */
        background-size: cover; /* ajustar o tamanho da imagem */
        background-position: center; /* centralizar a imagem */
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 998; /* garante que o overlay esteja acima de todos os outros elementos */
        opacity: 0; /* definir a opacidade inicial */
        transition: opacity 0.5s ease, visibility 0s linear 0.5s; /* adicionar transição para a opacidade */
        visibility: hidden; /* ocultar o overlay sem afetar a transição de opacidade */
    }

        .overlay.fade-out {
            opacity: 1;
            transition: opacity 0.5s ease;
            visibility: visible
        }



    .wrapper {
        width: 200px;
        height: 60px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .circle {
        width: 20px;
        height: 20px;
        position: absolute;
        border-radius: 50%;
        background-color: #fff;
        left: 15%;
        transform-origin: 50%;
        animation: circle .5s alternate infinite ease;
    }

    @keyframes circle {
        0% {
            top: 60px;
            height: 5px;
            border-radius: 50px 50px 25px 25px;
            transform: scaleX(1.7);
        }

        40% {
            height: 20px;
            border-radius: 50%;
            transform: scaleX(1);
        }

        100% {
            top: 0%;
        }
    }

    .circle:nth-child(2) {
        left: 45%;
        animation-delay: .2s;
    }

    .circle:nth-child(3) {
        left: auto;
        right: 15%;
        animation-delay: .3s;
    }

    .shadow {
        width: 20px;
        height: 4px;
        border-radius: 50%;
        background-color: rgba(0,0,0,.5);
        position: absolute;
        top: 62px;
        transform-origin: 50%;
        z-index: -1;
        left: 15%;
        filter: blur(1px);
        animation: shadow .5s alternate infinite ease;
    }

    @keyframes shadow {
        0% {
            transform: scaleX(1.5);
        }

        40% {
            transform: scaleX(1);
            opacity: .7;
        }

        100% {
            transform: scaleX(.2);
            opacity: .4;
        }
    }

    .shadow:nth-child(4) {
        left: 45%;
        animation-delay: .2s
    }

    .shadow:nth-child(5) {
        left: auto;
        right: 15%;
        animation-delay: .3s;
    }

    .wrapper span {
        position: absolute;
        top: 75px;
        font-family: "Righteous", sans-serif;
        font-size: 20px;
        letter-spacing: 12px;
        color: #fff;
        left: 15%;
    }

    .correto {
        background-color: #A1FF9F !important;
        border: 1px solid black;
    }

@media (max-width: 570px) {

    .timer {
        transform: scale(0.7);
        margin-bottom: 5px !important;
    }

}


.timer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 10px;
    width: 300px;
    height: 150px;
    color: white;
    text-align: center;
    align-content: center;
    align-items: center;
    border-top: 5px solid transparent; /* Define a largura do border-top */
    border-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(0,0,255,0.3)) 1; /* Cria um gradiente para o border-top com fade transparente e azul */
}



    .timer * {
        cursor: default;
    }

    .timer h3 {
        width: 100%;
        font-size: 26px;
        letter-spacing: 4px;
        text-align: center;
    }

.timer--clock {
    width: 100%;
    position: relative;
    padding-left: 6px;
    margin-top: 22px;
    overflow: hidden;
}

    .timer--clock .clock-display-grp {
        width: 100%;
        position: relative;
    }

        .timer--clock .clock-display-grp .number-grp {
            width: auto;
            display: block;
            height: 156px;
            float: left;
            overflow: hidden;
        }

            .timer--clock .clock-display-grp .number-grp .number-grp-wrp {
                width: 100%;
                position: relative;
            }

                .timer--clock .clock-display-grp .number-grp .number-grp-wrp .num {
                    width: 100%;
                    position: relative;
                    height: 156px;
                }

                    .timer--clock .clock-display-grp .number-grp .number-grp-wrp .num p {
                        width: auto;
                        display: table;
                        font-size: 100px;
                        line-height: 150px;
                        font-weight: bold;
                    }

    .timer--clock .clock-separator {
        width: auto;
        float: left;
        display: block;
        height: 156px;
    }

        .timer--clock .clock-separator p {
            width: auto;
            display: table;
            font-size: 100px;
            line-height: 150px;
            font-weight: bold;
        }

.timer h4 {
    width: 100%;
    font-size: 10px;
    letter-spacing: 6px;
    text-align: center;
    padding-top: 25px;
    float: left;
}

.reload {
    width: 125px;
    height: 14px;
    position: absolute;
    bottom: 50vh;
    left: 50%;
    margin-left: -62.5px;
    opacity: 0;
    display: none;
    cursor: pointer;
    z-index: 9999;
}

    .reload:hover svg path {
        fill: #666;
    }

    .reload:hover p {
        color: #666;
    }

    .reload svg {
        width: 12px;
        height: 12px;
        float: left;
        margin-right: 10px;
    }

    .reload p {
        color: #2b2b2b;
        font-size: 12px;
        float: left;
        line-height: 11px;
    }

.botoes {
    align-items: center;
    background-color: rgba(12,29,135, 0.3);
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
}

    .botoes:active,
    .botoes:hover {
        outline: 0;
    }

    .botoes span {
        background-color: rgb(5, 6, 45);
        padding: 16px 24px;
        border-radius: 6px;
        width: 100%;
        height: 100%;
        transition: 300ms;
    }

    .botoes:hover span {
        background: none;
    }

    .botoes:active {
        transform: scale(0.9);
    }
    .botoes.selected {
        background-color: var(--maincolor) !important; /* Altere para a cor desejada */
    }

.selecionar {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(27, 27, 27);
    padding: 10px 30px;
    border: 1px solid;
    border-radius: 1000px;
    display: inline-block;
    transition: all .2s;
    position: relative;
    margin: 10px;
    background-color: rgba(12,29,135, 0.3);
}

    .selecionar:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
        backdrop-filter: blur(10px);
    }

.selecionar:active {
    transform: translateY(-3px);
}

.selecionar::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    transition: all .3s;
}

.selecionar:hover::after {
    background-color: rgb(0, 238, 255);
    transform: scaleX(1.4) scaleY(1.5);
    opacity: 0;
}
    .selecionar.selected {
        backdrop-filter: blur(10px);
        transform: translateY(-8px);
        box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
        background-color: rgba(12,29,135, 0.4);
    }
    .selecionar.marcado {
        backdrop-filter: blur(10px)!important;
        transform: translateY(-4px) !important;
        box-shadow: 0 10px 20px rgba(27, 27, 27, .5) !important;
        background-color: cornflowerblue !important;
    }

.conteudo-tela {
    width: 100%;
    position: absolute;
    transition: all 0.5s ease;
}

#col1 {
    left: 0;
}

#col2 {
    left: 100%;
}

#col3 {
    left: 200%;
}

.show {
    left: 0 !important;
}

.selecionar-ano {
    margin: auto;
    width: 600px;
    display: flex !important;
    justify-content: space-between;
    overflow-x: hidden;
    background-color: transparent;
}

.botao-correto {
    background-color: green !important;
    pointer-events: none;
}
.botao-correto-col {
    background-color: green !important;
 
}

.botao-errado {
    background-color: red !important;
    pointer-events: none;
    opacity: 0.6 !important;
}
.desabilitado{

    opacity: 0.6 !important;
    border: none !important;
    box-shadow: none !important;


}

.dica{

    border-radius: 50px 50px 50px 50px !important;
    
    
}

.dicas {
   /* Ajuste este valor conforme necessário */
    overflow-y: auto; 
    padding: 0px;
    display: flex;
    flex-direction: column;
}



.left-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: auto;
    left: -100%;
    bottom: auto;
    right: auto;
    background: var(--maincolor);
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

    .left-layer.active {
        left: 100%;
    }

.left-layer--2 {
    background: var(--secundarycolor);
    transition-delay: 0.3s;
}

.left-layer--3 {
    background: var(--maincolor);
    transition-delay: 0.2s;
}

.left-layer--4 {
    background: var(--secundarycolor);
    transition-delay: 0.12s;
}

.right-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: auto;
    left: 100%;
    bottom: auto;
    right: auto;
    background: var(--maincolor);
    transition: all 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
}

    .right-layer.active {
        left: -100%;
    }

.right-layer--2 {
    background: var(--secundarycolor);
    transition-delay: 0.3s;
}

.right-layer--3 {
    background: var(--maincolor);
    transition-delay: 0.13s;
}
 