@model Ages.Models.DificuldadeViewModel
<link rel="stylesheet" href="~/css/Jogar/index.css" />
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="~/js/Jogar/index.js"></script>


@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <button class="Btn">
        <svg height="1.2em" class="arrow" viewBox="0 0 512 512"><path d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"></path></svg>
    </button>
}

@* <div id="alert" class="alerta position-absolute top-0 end-0 alert alert-primary d-flex align-items-center" role="alert">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-9">
                <div> Atenção!</div>
                <div> Se você não souber a resposta, tente "chutar" 😉 </div>
            </div>
            <div class="d-flex align-items-center col">
                <button onclick="mostra_oculta()" type="button" class="btn-close" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div> *@
<div class="overlay">
</div>

<div id="container-jogo" class="container-fluid d-flex justify-content-center align-items-center">
    <!-- Seu conteúdo existente -->

    <div id="fixado" class="botao-esqurda">
        <button id="imagem-anterior" class="pass navegarentreimagens">
            <svg height="2em" class="arrow" viewBox="0 0 512 512">
                <path d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"></path>
            </svg>
        </button>
    </div>






    <div class="card dica">
        
        <div class="jogo">
            <img id="imagem" class="imagem" src="@Model.ViewModel[0].Imagem" />
                    <div class="left-layer"></div>
                    <div class="left-layer left-layer--2"></div>
                    <div class="left-layer left-layer--3"></div>
                    <div class="left-layer left-layer--4"></div>
                    <div class="right-layer"></div>
                    <div class="right-layer right-layer--2"></div>
                    <div class="right-layer right-layer--3"></div>
                    
    
            
        </div>
        
        <div class="card-body dicas">
            <div id="dica1"></div>
            <div id="dica2"></div>
            <div id="dica3"></div>
        </div>
    </div>

    <div id="fixado2" class="botao-direito">
        <button class="pass2 navegarentreimagens" id="proxima-imagem">
            <svg height="2em" class="arrow2" viewBox="0 0 512 512"><path d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"></path></svg>
        </button>
    </div>



</div>

<div class="container text-center respostas">
    <div class="d-flex justify-content-center" style="margin-top: 20px;">
        <button id="continenteCol" class="selecionar" onclick="handleClick(this,'col1');">Continente</button>
        <button id="paisCol" class="selecionar" onclick="handleClick(this,'col2')">Pais</button>
        <button id="anoCol" class="selecionar" onclick="handleClick(this,'col3')">Ano</button>

    </div>
    <div class="row justify-content-center">
        <div id="col1" class="col-sm-12 d-flex flex-wrap justify-content-center show conteudo-tela">
            <button class="botoes mx-1 my-1" id="continente" onclick="  verResposta(this, 'continente')">
                <span class="text">América do Sul</span>
            </button>
            <button class="botoes mx-1 my-1" id="continente" onclick="  verResposta(this, 'continente')">
                <span class="text">Europa</span>
            </button>
            <button class="botoes mx-1 my-1" id="continente" onclick=" verResposta(this, 'continente')">
                <span class="text">America Central</span>
            </button>
            <button class="botoes mx-1 my-1" id="continente" onclick="  verResposta(this, 'continente')">
                <span class="text">America do norte</span>
            </button>
            <button class="botoes mx-1 my-1" id="continente" onclick="  verResposta(this, 'continente')">
                <span class="text">Asia</span>
            </button>
            <button class="botoes mx-1 my-1" id="continente" onclick="   verResposta(this, 'continente')">
                <span class="text">Oceania</span>
            </button>
            <button class="botoes mx-1 my-1" id="continente" onclick="  verResposta(this, 'continente')">
                <span class="text">Africa</span>
            </button>
        </div>
        <div id="col2" class="col-sm-12 d-flex flex-wrap justify-content-center conteudo-tela">
            <button class="botoes mx-1 my-1" id="pais" onclick="verResposta(this, 'pais'); ">
                <span class="text">Santa cruz</span>
            </button>
            <button class="botoes mx-1 my-1" id="pais" onclick="verResposta(this, 'pais'); ">
                <span class="text">Brasil</span>
            </button>
            <button class="botoes mx-1 my-1" id="pais" onclick="verResposta(this, 'pais'); ">
                <span class="text">Espanha</span>
            </button>
            <button class="botoes mx-1 my-1" id="pais" onclick="verResposta(this, 'pais'); ">
                <span class="text">França</span>
            </button>
            

        </div>
        <div id="col3" class="col-sm-12 d-flex flex-wrap justify-content-center conteudo-tela">
       
            <div class="selecionar-ano" id="anosRolagem">
                @for (int i = 2024; i >= 1900; i--)
                {
                    <button class="botoes mx-1 my-1" id="ano" onclick="verResposta(this, 'ano')">
                        <span class="text">@i</span>
                    </button>
                }
            </div>
            

        </div>
        <div id="col4" class="col-sm-12 d-flex flex-wrap justify-content-center conteudo-tela">
       
            <div>Resposta errada numeros de tentativas esgotadas</div>
            

        </div>
        <div id="col5" class="col-sm-12 d-flex flex-wrap justify-content-center conteudo-tela">

            
            <div>Parabens</div>

        </div>
    </div>
</div>







<div class="timer ">
    <div class="timer--clock d-flex justify-content-center">
        <div class="minutes-group clock-display-grp  d-flex justify-content-center">
            <div class="first number-grp  d-flex justify-content-center">
                <div class="number-grp-wrp">
                    <div class="num num-0"><p>0</p></div>
                    <div class="num num-1"><p>1</p></div>
                    <div class="num num-2"><p>2</p></div>
                    <div class="num num-3"><p>3</p></div>
                    <div class="num num-4"><p>4</p></div>
                    <div class="num num-5"><p>5</p></div>
                    <div class="num num-6"><p>6</p></div>
                    <div class="num num-7"><p>7</p></div>
                    <div class="num num-8"><p>8</p></div>
                    <div class="num num-9"><p>9</p></div>
                </div>
            </div>
            <div class="second number-grp">
                <div class="number-grp-wrp">
                    <div class="num num-0"><p>0</p></div>
                    <div class="num num-1"><p>1</p></div>
                    <div class="num num-2"><p>2</p></div>
                    <div class="num num-3"><p>3</p></div>
                    <div class="num num-4"><p>4</p></div>
                    <div class="num num-5"><p>5</p></div>
                    <div class="num num-6"><p>6</p></div>
                    <div class="num num-7"><p>7</p></div>
                    <div class="num num-8"><p>8</p></div>
                    <div class="num num-9"><p>9</p></div>
                </div>
            </div>
        </div>
        <div class="clock-separator"><p>:</p></div>
        <div class="seconds-group clock-display-grp  d-flex justify-content-center">
            <div class="first number-grp">
                <div class="number-grp-wrp">
                    <div class="num num-0"><p>0</p></div>
                    <div class="num num-1"><p>1</p></div>
                    <div class="num num-2"><p>2</p></div>
                    <div class="num num-3"><p>3</p></div>
                    <div class="num num-4"><p>4</p></div>
                    <div class="num num-5"><p>5</p></div>
                    <div class="num num-6"><p>6</p></div>
                    <div class="num num-7"><p>7</p></div>
                    <div class="num num-8"><p>8</p></div>
                    <div class="num num-9"><p>9</p></div>
                </div>
            </div>
            <div class="second number-grp">
                <div class="number-grp-wrp">
                    <div class="num num-0"><p>0</p></div>
                    <div class="num num-1"><p>1</p></div>
                    <div class="num num-2"><p>2</p></div>
                    <div class="num num-3"><p>3</p></div>
                    <div class="num num-4"><p>4</p></div>
                    <div class="num num-5"><p>5</p></div>
                    <div class="num num-6"><p>6</p></div>
                    <div class="num num-7"><p>7</p></div>
                    <div class="num num-8"><p>8</p></div>
                    <div class="num num-9"><p>9</p></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="reload">
    <svg><!-- Ícone de recarregar --></svg>
    <p>Reload</p>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>


<div class="timer-container">
    
    <div class="timer-barra"></div>
</div>



<script>

    var dificuldade = @Model.Dificuldade;
    @for (int i = 0; i < Model.ViewModel.Count; i++)
    {
        <text>
                var imagemIndex = 'imagem' + (@i + 1);
        chutes[imagemIndex] = chutes[imagemIndex] || {};
        chutes[imagemIndex].imagem = '@Model.ViewModel[i].Imagem';
        </text>
    }



    

</script>
