@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


.selecionado {
    background-color: var(--maincolor) !important; /* Altere isso para a cor desejada */
    color: white; /* Altere isso para a cor do texto desejada */
}

.selecionado-fade {
    background-color: var(--maincolor) !important; /* Altere isso para a cor desejada */
    color: white; /* Altere isso para a cor do texto desejada */
    transition: background-color 0.3s ease; /* Adiciona transição de fade */
}

.redes {
    width: 80px !important;
    height: 160px !important;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: -10px;
}


    .redes a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40px;
        transition: all 0.2s ease-in-out;
    }

        .redes a svg {
            width: 30px;
            fill: #ffffff;
        }



    .redes .instagram {
        background: linear-gradient(45deg, #833ab4, #fd1d1d, #f56040);
        border-radius: 0 10px 0 0;
    }

    .redes .tiktok {
        background-color: rgb(24, 22, 22);
        border-radius: 0 0 10px 0;
    }

    .redes .twitter {
        background-color: #000000;
    }

    .redes .discord {
        background-color: rgb(0, 60, 255);
    }

    .redes a:hover {
        width: 130%;
        border-radius: 0 10px 10px 0;
    }


.redes2 {
    width: 60px !important;
    height: 160px !important;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: -10px;
    transform: rotate(180deg);
    margin-bottom: 30px;
}


    .redes2 a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40px;
        transition: all 0.2s ease-in-out;
        color: white;
    }




.ajuda {
    background: linear-gradient(#eb7fe2, rgb(197, 49, 149));
    border-radius: 0 10px 10px 0;
    font-family: Righteous;
}



.redes2 a:hover {
    width: 130% !important;
}




.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 30px;
    text-align: right;
    float: right;
}

.cabecalho-menu-item:hover {
    color: #eb7fe2;
}


.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 450;
    font-size: 18px;
    margin: 10px;
    text-decoration: none;
}

.menu-opcoes {
    align-items: center;
    align-content: center
}

.tituloconfig {
    font-size: 30px;
}




.button-style {
    background-color: #ffffff;
    padding: 25px 85px;
    text-align: center;
    display: block;
    font-size: 25px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 100px;
    margin-top: 35px;
    width: 300px;
    font-family: 'Righteous', sans-serif;
    white-space: nowrap;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(197, 49, 149);
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3), inset -10px -10px 30px 0 #00000086;
    transition: 0.5s;
    box-shadow: 0 0 0 2px rgb(197, 49, 149), 0 0 0 6px rgb(12,29,135);
    color: black;
    text-decoration: none;
}

    .button-style:hover {
        transform: scale(1.2);
        color: black
    }


.logo {
    width: 340px;
    margin: auto;
    margin-top: -40px;
    background-image: url('../imagens/logo-ages.png');
    background-size: 100%;
    height: 300px;
}
.logo-termo {
    width: 200px;
    margin: auto;
    background-image: url('../imagens/logo-ages.png');
    background-size: 100%;
    height: 180px;
}


.logoinsta {
    background-image: url('../imagens/logoinstagram.png');
    width: 10px;
}

.botoes {
    margin-top: 150px;
}




.opcoes {
    max-width: none !important;
}

.contato {
    max-width: none !important;
}


.funcionamento {
    max-width: none !important;
}



.test {
    border-radius: 20px;
    max-width: 750px; /* Alterado para uma porcentagem para torná-lo responsivo */
    box-shadow: 0 0 0 2px rgb(197, 49, 149), 0 0 0 6px rgb(12,29,135) !important;
    height: auto; /* Alterado para altura automática */
    margin: 10% auto; /* Centraliza verticalmente e alinha horizontalmente */
    text-align: justify;
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, .2), inset -5px -5px 100px 0 #00000086;
    font-family: 'Righteous', sans-serif;
    position: relative;
}



.modalcontato {
    border-radius: 20px;
    max-width: 500px; /* Alterado para uma porcentagem para torná-lo responsivo */
    box-shadow: 0 0 0 2px rgb(197, 49, 149), 0 0 0 6px rgb(12,29,135) !important;
    height: auto; /* Alterado para altura automática */
    margin: 10% auto; /* Centraliza verticalmente e alinha horizontalmente */
    text-align: justify;
    font-family: 'Righteous', sans-serif;
    position: relative;
}

#mensagem {
    height: 250px;
    border: 1px solid rgb(0, 0, 0);
    resize: none;
}

#recipient-name {
    border: 1px solid rgb(0, 0, 0);
}

.contato {
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: right;
    margin-top: -35px;
    text-align: center;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1), inset -10px -10px 30px 0 #00000086;
    font-family: 'Righteous', sans-serif;
    box-shadow: 0 0 0 2px rgb(197, 49, 149), 0 0 0 6px rgb(12,29,135);
    padding-top: 7px;
    margin-right: 20px;
}



.Botaoenviar {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    width: fit-content;
    background-color: #eb7fe2;
    margin-bottom: 2px;
}

.enviar {
    margin-top: 23px;
    margin-left: 360px
}

.certo {
    width: 75px;
    height: 30px;
    background-color: #A1FF9F;
    text-align: center;
    border-radius: 50px;
    border: 2px solid rgb(0, 0, 0);
}

.soma {
    margin-left: 85px;
    margin-top: -27px;
}


.ano {
    margin-left: 102px;
    margin-top: -27px;
}

.igual {
    margin-left: 190px;
    margin-top: -27px;
}

.pontuacao {
    margin-left: 210px;
    margin-top: -30px;
}


.errado {
    width: 75px;
    height: 30px;
    background-color: #EB3B2F;
    text-align: center;
    border-radius: 50px;
    border: 2px solid rgb(0, 0, 0);
    margin-left: 102px;
    margin-top: -27px;
}

.localerrado {
    width: 75px;
    height: 30px;
    background-color: #EB3B2F;
    text-align: center;
    border-radius: 50px;
    border: 2px solid rgb(0, 0, 0);
}


.audio1 {
    font-size: 20px;
}

.audio2 {
    font-size: 20px;
    margin-top: 20px;
}





.switch {
    /* switch */
    --switch-width: 46px;
    --switch-height: 24px;
    --switch-bg: rgb(131, 131, 131);
    --switch-checked-bg: rgb(0, 218, 80);
    --switch-offset: calc((var(--switch-height) - var(--circle-diameter)) / 2);
    --switch-transition: all .2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
    /* circle */
    --circle-diameter: 18px;
    --circle-bg: #fff;
    --circle-shadow: 1px 1px 2px rgba(146, 146, 146, 0.45);
    --circle-checked-shadow: -1px 1px 2px rgba(163, 163, 163, 0.45);
    --circle-transition: var(--switch-transition);
    /* icon */
    --icon-transition: all .2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
    --icon-cross-color: var(--switch-bg);
    --icon-cross-size: 6px;
    --icon-checkmark-color: var(--switch-checked-bg);
    --icon-checkmark-size: 10px;
    /* effect line */
    --effect-width: calc(var(--circle-diameter) / 2);
    --effect-height: calc(var(--effect-width) / 2 - 1px);
    --effect-bg: var(--circle-bg);
    --effect-border-radius: 1px;
    --effect-transition: all .2s ease-in-out;
}


    .switch input {
        display: none;
    }

.switch {
    display: inline-block;
}

    .switch svg {
        -webkit-transition: var(--icon-transition);
        -o-transition: var(--icon-transition);
        transition: var(--icon-transition);
        position: absolute;
        height: auto;
    }

    .switch .checkmark {
        width: var(--icon-checkmark-size);
        color: var(--icon-checkmark-color);
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }

    .switch .cross {
        width: var(--icon-cross-size);
        color: var(--icon-cross-color);
    }

.slider {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: var(--switch-width);
    height: var(--switch-height);
    background: var(--switch-bg);
    border-radius: 999px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-transition: var(--switch-transition);
    -o-transition: var(--switch-transition);
    transition: var(--switch-transition);
    cursor: pointer;
    margin-right: 25px;
}


.click {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: var(--switch-width);
    height: var(--switch-height);
    background: var(--switch-bg);
    border-radius: 999px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-transition: var(--switch-transition);
    -o-transition: var(--switch-transition);
    transition: var(--switch-transition);
    cursor: pointer;
    margin-right: 25px;
}

.click2 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: var(--switch-width);
    height: var(--switch-height);
    background: var(--switch-bg);
    border-radius: 999px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-transition: var(--switch-transition);
    -o-transition: var(--switch-transition);
    transition: var(--switch-transition);
    cursor: pointer;
 
}

.circulo {
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    background: var(--circle-bg);
    border-radius: inherit;
    -webkit-box-shadow: var(--circle-shadow);
    box-shadow: var(--circle-shadow);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: var(--circle-transition);
    -o-transition: var(--circle-transition);
    transition: var(--circle-transition);
    z-index: 1;
    position: absolute;
    left: var(--switch-offset);
}

.click::before {
    content: "";
    position: absolute;
    width: var(--effect-width);
    height: var(--effect-height);
    left: calc(var(--switch-offset) + (var(--effect-width) / 2));
    background: var(--effect-bg);
    border-radius: var(--effect-border-radius);
    -webkit-transition: var(--effect-transition);
    -o-transition: var(--effect-transition);
    transition: var(--effect-transition);
}

/* actions */

.switch input:checked + .click {
    background: var(--switch-checked-bg);
}

    .switch input:checked + .click .checkmark {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    .switch input:checked + .click .cross {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }

    .switch input:checked + .click::before {
        left: calc(100% - var(--effect-width) - (var(--effect-width) / 2) - var(--switch-offset));
    }

    .switch input:checked + .click .circulo {
        left: calc(100% - var(--circle-diameter) - var(--switch-offset));
        -webkit-box-shadow: var(--circle-checked-shadow);
        box-shadow: var(--circle-checked-shadow);
    }





.slider::before {
    content: "";
    position: absolute;
    width: var(--effect-width);
    height: var(--effect-height);
    left: calc(var(--switch-offset) + (var(--effect-width) / 2));
    background: var(--effect-bg);
    border-radius: var(--effect-border-radius);
    -webkit-transition: var(--effect-transition);
    -o-transition: var(--effect-transition);
    transition: var(--effect-transition);
}

.click::before {
    content: "";
    position: absolute;
    width: var(--effect-width);
    height: var(--effect-height);
    left: calc(var(--switch-offset) + (var(--effect-width) / 2));
    background: var(--effect-bg);
    border-radius: var(--effect-border-radius);
    -webkit-transition: var(--effect-transition);
    -o-transition: var(--effect-transition);
    transition: var(--effect-transition);
}

/* actions */

.switch input:checked + .click2 {
    background: var(--switch-checked-bg);
}

    .switch input:checked + .click2 .checkmark {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    .switch input:checked + .click2 .cross {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }

    .switch input:checked + .click2::before {
        left: calc(100% - var(--effect-width) - (var(--effect-width) / 2) - var(--switch-offset));
    }

    .switch input:checked + .click2 .circulo {
        left: calc(100% - var(--circle-diameter) - var(--switch-offset));
        -webkit-box-shadow: var(--circle-checked-shadow);
        box-shadow: var(--circle-checked-shadow);
    }





.switch input:checked + .slider {
    background: var(--switch-checked-bg);
}

    .switch input:checked + .slider .checkmark {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    .switch input:checked + .slider .cross {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }

    .switch input:checked + .slider::before {
        left: calc(100% - var(--effect-width) - (var(--effect-width) / 2) - var(--switch-offset));
    }

    .switch input:checked + .slider .circulo {
        left: calc(100% - var(--circle-diameter) - var(--switch-offset));
        -webkit-box-shadow: var(--circle-checked-shadow);
        box-shadow: var(--circle-checked-shadow);
    }

.audio-control {
    justify-content: space-between;
    margin: 10px;
}
.audio-botao {
    justify-content: space-between;
    margin: 10px;
}

.audio-label {
    font-size: 23px;
    font-weight: normal;
    opacity: 75%
}

.tracado {
    opacity: 50% !important;
    font-size: 10px !important;
}

.titulo-opcoes {
    font-size: 30px;
}


.cursor {
    font-size: 30px;
}



.termos {
    display: flex;
    flex-direction: row;
    margin-top: -10px;
    color: black;
}


.termosuso {
    margin: 20px;
}

.termosecondicoes {
    width: fit-content;
    margin: 5px;
    display: flex;
    justify-content: center; /* Alinha horizontalmente */
    align-items: center; /* Alinha verticalmente */
    height: 20px; /* Defina a altura desejada para a div */
}

.termos:hover {
    color: #eb7fe2;
}


.dificuldade {
    max-width: 300px;
    width: 100%;
    accent-color: rgb(197, 49, 149);
    margin-top: 10px;
}

.rangedificuldade {
    width: 250px !important;
    height: 10px !important;
}

#selectedOptionText {
    font-family: 'Righteous', sans-serif;
    color: white;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 14px;
    margin-top: 10px;
}

.titulodificuldade {
    font-family: 'Righteous', sans-serif;
    color: white;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 17px;
    margin: auto;
    width: fit-content;
}

.textosemana {
    color: white;
    font-family: 'Righteous', sans-serif;
    margin-left: 6px;
    text-align: center;
    width: fit-content;
}

.Jogos-Semana {
    margin-top: 100px;
    width: fit-content;
    height: auto;
}

#Jogosanteriores {
    width: 100px;
    height: 400px; /* Definido como 100% da altura da viewport */
    overflow-y: hidden; /* Remover a barra de rolagem vertical */
}

@media (max-width: 570px) {
    .titulo-opcoes {
        font-size: 20px;
    }



    .test {
        width: 100%;
        height: auto;
        font-size: 15px;
    }

    .termos {
        align-items: center;
        font-size: 15px;
    }

    .Jogos-Semana-celular {
        margin: auto;
        width: 333px;
        display: flex !important;
        justify-content: space-between;
        overflow-x: hidden;
    }

    .item {
        margin: auto;
    }

    .Jogos-Semana {
        display: none;
    }

    #Jogosanteriores-celular {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: row-reverse; /* Alterando a direção dos itens */
    }

    .logo {
        transform: scale(0.7);
    }

    .redes {
        margin-top: 10px !important;
    }

    .redes2 {
        width: 40px !important;
    }
}


.item {
    color: black;
    margin: 5px;
    background-color: white;
    font-family: 'Righteous', sans-serif;
    text-align: center;
    user-select: none;
    width: 70px;
    height: 30px;
    border-radius: 50px;
    border: 2px solid rgb(0, 0, 0);
    transition: background-color 0.3s ease;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../Imagens/fundo-alternativo.png); /* imagem de fundo */
    background-size: cover; /* ajustar o tamanho da imagem */
    background-position: center; /* centralizar a imagem */
    justify-content: center;
    align-items: center;
    z-index: 99; /* garante que o overlay esteja acima de todos os outros elementos */
    opacity: 1; /* definir a opacidade inicial */
    transition: opacity 1.8s ease; /* adicionar transição para a opacidade */
}

    .overlay.fade-out {
        opacity: 0; /* definir a opacidade para 0 para fazer o fade-out */
    }

.meio-overlay {
    margin: auto;
    width: fit-content;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    --color: var(--maincolor);
    --animation: 2s ease-in-out infinite;
}

    .loader .circle {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 20px;
        height: 20px;
        border: solid 2px var(--color);
        border-radius: 50%;
        margin: 0 10px;
        background-color: transparent;
        animation: circle-keys var(--animation);
    }

        .loader .circle .dot {
            position: absolute;
            transform: translate(-50%, -50%);
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: var(--color);
            animation: dot-keys var(--animation);
        }

        .loader .circle .outline {
            position: absolute;
            transform: translate(-50%, -50%);
            width: 20px;
            height: 20px;
            border-radius: 50%;
            animation: outline-keys var(--animation);
        }

.circle:nth-child(2) {
    animation-delay: 0.3s;
}

.circle:nth-child(3) {
    animation-delay: 0.6s;
}

.circle:nth-child(4) {
    animation-delay: 0.9s;
}

.circle:nth-child(5) {
    animation-delay: 1.2s;
}

.circle:nth-child(2) .dot {
    animation-delay: 0.3s;
}

.circle:nth-child(3) .dot {
    animation-delay: 0.6s;
}

.circle:nth-child(4) .dot {
    animation-delay: 0.9s;
}

.circle:nth-child(5) .dot {
    animation-delay: 1.2s;
}

.circle:nth-child(1) .outline {
    animation-delay: 0.9s;
}

.circle:nth-child(2) .outline {
    animation-delay: 1.2s;
}

.circle:nth-child(3) .outline {
    animation-delay: 1.5s;
}

.circle:nth-child(4) .outline {
    animation-delay: 1.8s;
}

.circle:nth-child(5) .outline {
    animation-delay: 2.1s;
}

@keyframes circle-keys {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.5);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes dot-keys {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes outline-keys {
    0% {
        transform: scale(0);
        outline: solid 20px var(--color);
        outline-offset: 0;
        opacity: 1;
    }

    100% {
        transform: scale(1);
        outline: solid 0 transparent;
        outline-offset: 20px;
        opacity: 0;
    }
}


.container-botao {
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
    margin: 15px;

    bottom: 180px;
    font-family: "Righteous", sans-serif;
    font-size: 20px;

}

.botao-enviar {
    width: 220px;
    height: 80px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 22px;
    border-radius: 20px;
    text-align: center;
    box-shadow: var(--maincolor) 0px 7px 29px 0px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: #eb7fe2;
    transition: all 0.5s ease;
}

    .botao-enviar:hover {
        letter-spacing: 3px;
        background-color: hsl(261deg 80% 48%);
        color: hsl(0, 0%, 100%);
        box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
    }


#btnText {
    transition: 1s ease-in-out;

}


.check-box {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    box-shadow: 0 0 12px -2px rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: -40px;
    opacity: 0;
}

    .check-box svg {
        width: 40px;
        margin: 20px;
    }

svg path {
    stroke-width: 3;
    stroke: #fff;
    stroke-dasharray: 34;
    stroke-dashoffset: 34;
    stroke-linecap: round;
}

.active {
    background: #ff2b75 !important;
    transition: 1s;
    width: 260px;
    box-shadow: #ff2b75 0px 7px 29px 0px !important;
}

    .active .check-box {
        right: 0;
        opacity: 1;
        transition: 1s;
    }

    .active #btnText {
        margin-right: 80px;
        transition: 1s;
        white-space: nowrap;
    }

    .active svg path {
        stroke-dashoffset: 0;
        transition: 1s;
        transition-delay: 1s;
    }


.wrapper {
    width: 200px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left: 15%;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease;
}

@keyframes circle {
    0% {
        top: 60px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }

    40% {
        height: 20px;
        border-radius: 50%;
        transform: scaleX(1);
    }

    100% {
        top: 0%;
    }
}

.circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
}

.circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
}

@keyframes shadow {
    0% {
        transform: scaleX(1.5);
    }

    40% {
        transform: scaleX(1);
        opacity: .7;
    }

    100% {
        transform: scaleX(.2);
        opacity: .4;
    }
}

.shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
}

.shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.wrapper span {
    position: absolute;
    top: 75px;
    font-family: "Righteous", sans-serif;
    font-size: 20px;
    letter-spacing: 12px;
    color: #fff;
    left: 15%;
}
