

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');



.redes {
    width: 80px;
    height: auto;
    display: flex;
    flex-direction: column;
    position:fixed;
    margin-top: 30px;
    
}


    .redes a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40px;
        transition: all 0.2s ease-in-out;
    }

        .redes a svg {
            width: 30px;
            fill: #ffffff;
        }

   

    .redes .instagram {
        background: linear-gradient(45deg, #833ab4, #fd1d1d, #f56040);
        border-radius: 0 10px 0 0;
    }

    .redes .tiktok {
        background-color: rgb(24, 22, 22);
        border-radius: 0 0 10px 0;
        
    }

    .redes .twitter {
        background-color: #000000;
    }

    .redes .discord {
        background-color: rgb(0, 60, 255);
        
    }

    .redes a:hover {
        width: 130%;
        border-radius: 0 10px 10px 0;
    }


.cabecalho {
    display: flex;
    flex-direction: row;
    
    justify-content: right;
    padding: 30px;
    text-align: right;
   
   
}
.cabecalho-menu-item:hover {
    color: #eb7fe2;
}


.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 450;
    font-size: 18px;
    margin: 10px;
    text-decoration: none;
  

}



.tituloaudio {
    font-size: 30px;
}




.button-style {
    background-color: #ffffff;
    padding: 25px 85px;
    text-align: center;
    display: block;
    font-size: 25px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 100px;
    margin-top: 35px;
    width: 300px;
    font-family: 'Righteous', sans-serif;
    white-space: nowrap;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(197, 49, 149);
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3), inset -10px -10px 30px 0 #00000086;
    transition: 0.5s;
    box-shadow: 0 0 0 2px rgb(197, 49, 149), 0 0 0 6px rgb(12,29,135);
    color: black;
    text-decoration: none;
}

.button-style:hover {
    transform: scale(1.2);
    color: black
    
}


.logo {
    width: 340px;
    margin: auto;
    margin-top: -40px;
    background-image: url('../imagens/logo-ages.png');
    background-size: 100%;
    height: 300px;
    
}

.logoinsta {
    background-image: url('../imagens/logoinstagram.png');
    width: 10px;
}
.botoes {

    margin-top: 150px;

}

.test {
    border-radius: 50px;
    width: 700px;
    height: 500px;
    margin-top: 180px;
    text-align: justify;
    position: center;
    margin-left: -100px;
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.5), inset -100px -100px 100px 0 #00000086;
    font-family: 'Righteous', sans-serif;
    box-shadow: 0 0 0 2px rgb(197, 49, 149), 0 0 0 6px rgb(12,29,135);
   
}

.modalcontato {
    border-radius: 50px;
    width: 500px;
    height: 520px;
    text-align: justify;
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.1), inset -10px -10px 30px 0 #00000086;
    font-family: 'Righteous', sans-serif;
    box-shadow: 0 0 0 2px rgb(197, 49, 149), 0 0 0 6px rgb(12,29,135);
    padding-bottom: 10px;
}

#mensagem {

    height: 250px;
    border: 1px solid rgb(0, 0, 0);
    resize: none;
}

#recipient-name {
    border: 1px solid rgb(0, 0, 0);
}

.contato {
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: right;
    margin-top: -35px;
    text-align: center;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1), inset -10px -10px 30px 0 #00000086;
    font-family: 'Righteous', sans-serif;
    box-shadow: 0 0 0 2px rgb(197, 49, 149), 0 0 0 6px rgb(12,29,135);
    padding-top: 7px;
    margin-right: 20px;
}



.Botaoenviar {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    width: 150px;
    background-color: #eb7fe2;
    margin-left: 330px;
    margin-top: -23px;
}
.enviar {

    margin-top: 23px;
    margin-left: 360px

}
.certo {
    width: 75px;
    height: 30px;
    background-color: #A1FF9F;
    text-align: center;
    border-radius: 50px;
    border: 2px solid rgb(0, 0, 0);
}

.soma {

    margin-left: 85px;
    margin-top: -27px;
    
}


.ano {

    margin-left: 102px;
    margin-top: -27px;


}

.igual {
    margin-left: 190px;
    margin-top: -27px;
}

.pontuacao {
    margin-left: 210px;
    margin-top: -30px;
}


.errado {
    width: 75px;
    height: 30px;
    background-color: #EB3B2F;
    text-align: center;
    border-radius: 50px;
    border: 2px solid rgb(0, 0, 0);
    margin-left: 102px;
    margin-top: -27px;
}

.localerrado {
    width: 75px;
    height: 30px;
    background-color: #EB3B2F;
    text-align: center;
    border-radius: 50px;
    border: 2px solid rgb(0, 0, 0);
}


.audio1 {
    font-size: 20px;


}

.audio2 {
    font-size: 20px;
    margin-top: 20px;
}





.switch {
    /* switch */
    --switch-width: 46px;
    --switch-height: 24px;
    --switch-bg: rgb(131, 131, 131);
    --switch-checked-bg: rgb(0, 218, 80);
    --switch-offset: calc((var(--switch-height) - var(--circle-diameter)) / 2);
    --switch-transition: all .2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
    /* circle */
    --circle-diameter: 18px;
    --circle-bg: #fff;
    --circle-shadow: 1px 1px 2px rgba(146, 146, 146, 0.45);
    --circle-checked-shadow: -1px 1px 2px rgba(163, 163, 163, 0.45);
    --circle-transition: var(--switch-transition);
    /* icon */
    --icon-transition: all .2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
    --icon-cross-color: var(--switch-bg);
    --icon-cross-size: 6px;
    --icon-checkmark-color: var(--switch-checked-bg);
    --icon-checkmark-size: 10px;
    /* effect line */
    --effect-width: calc(var(--circle-diameter) / 2);
    --effect-height: calc(var(--effect-width) / 2 - 1px);
    --effect-bg: var(--circle-bg);
    --effect-border-radius: 1px;
    --effect-transition: all .2s ease-in-out;
}

   
.switch input {
        display: none;
    }

.switch {
    display: inline-block;
}

    .switch svg {
        -webkit-transition: var(--icon-transition);
        -o-transition: var(--icon-transition);
        transition: var(--icon-transition);
        position: absolute;
        height: auto;
    }

    .switch .checkmark {
        width: var(--icon-checkmark-size);
        color: var(--icon-checkmark-color);
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }

    .switch .cross {
        width: var(--icon-cross-size);
        color: var(--icon-cross-color);
    }

.slider {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: var(--switch-width);
    height: var(--switch-height);
    background: var(--switch-bg);
    border-radius: 999px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-transition: var(--switch-transition);
    -o-transition: var(--switch-transition);
    transition: var(--switch-transition);
    cursor: pointer;
    margin-top: 65px;
    margin-right: 25px;
}


.click {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: var(--switch-width);
    height: var(--switch-height);
    background: var(--switch-bg);
    border-radius: 999px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-transition: var(--switch-transition);
    -o-transition: var(--switch-transition);
    transition: var(--switch-transition);
    cursor: pointer;
    margin-top: 105px;
    margin-right: 25px;
}

.click2 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: var(--switch-width);
    height: var(--switch-height);
    background: var(--switch-bg);
    border-radius: 999px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-transition: var(--switch-transition);
    -o-transition: var(--switch-transition);
    transition: var(--switch-transition);
    cursor: pointer;
    margin-top: -82px;
    margin-right: 25px;
}

.circulo {
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    background: var(--circle-bg);
    border-radius: inherit;
    -webkit-box-shadow: var(--circle-shadow);
    box-shadow: var(--circle-shadow);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: var(--circle-transition);
    -o-transition: var(--circle-transition);
    transition: var(--circle-transition);
    z-index: 1;
    position: absolute;
    left: var(--switch-offset);
}

.click::before {
    content: "";
    position: absolute;
    width: var(--effect-width);
    height: var(--effect-height);
    left: calc(var(--switch-offset) + (var(--effect-width) / 2));
    background: var(--effect-bg);
    border-radius: var(--effect-border-radius);
    -webkit-transition: var(--effect-transition);
    -o-transition: var(--effect-transition);
    transition: var(--effect-transition);
}

/* actions */

.switch input:checked + .click {
    background: var(--switch-checked-bg);
}

    .switch input:checked + .click .checkmark {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    .switch input:checked + .click .cross {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }

    .switch input:checked + .click::before {
        left: calc(100% - var(--effect-width) - (var(--effect-width) / 2) - var(--switch-offset));
    }

    .switch input:checked + .click .circulo {
        left: calc(100% - var(--circle-diameter) - var(--switch-offset));
        -webkit-box-shadow: var(--circle-checked-shadow);
        box-shadow: var(--circle-checked-shadow);
    }





.slider::before {
    content: "";
    position: absolute;
    width: var(--effect-width);
    height: var(--effect-height);
    left: calc(var(--switch-offset) + (var(--effect-width) / 2));
    background: var(--effect-bg);
    border-radius: var(--effect-border-radius);
    -webkit-transition: var(--effect-transition);
    -o-transition: var(--effect-transition);
    transition: var(--effect-transition);
}

.click::before {
    content: "";
    position: absolute;
    width: var(--effect-width);
    height: var(--effect-height);
    left: calc(var(--switch-offset) + (var(--effect-width) / 2));
    background: var(--effect-bg);
    border-radius: var(--effect-border-radius);
    -webkit-transition: var(--effect-transition);
    -o-transition: var(--effect-transition);
    transition: var(--effect-transition);
}

/* actions */

.switch input:checked + .click2 {
    background: var(--switch-checked-bg);
}

    .switch input:checked + .click2 .checkmark {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    .switch input:checked + .click2 .cross {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }

    .switch input:checked + .click2::before {
        left: calc(100% - var(--effect-width) - (var(--effect-width) / 2) - var(--switch-offset));
    }

    .switch input:checked + .click2 .circulo {
        left: calc(100% - var(--circle-diameter) - var(--switch-offset));
        -webkit-box-shadow: var(--circle-checked-shadow);
        box-shadow: var(--circle-checked-shadow);
    }





.switch input:checked + .slider {
    background: var(--switch-checked-bg);
}

    .switch input:checked + .slider .checkmark {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    .switch input:checked + .slider .cross {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }

    .switch input:checked + .slider::before {
        left: calc(100% - var(--effect-width) - (var(--effect-width) / 2) - var(--switch-offset));
    }

    .switch input:checked + .slider .circulo {
        left: calc(100% - var(--circle-diameter) - var(--switch-offset));
        -webkit-box-shadow: var(--circle-checked-shadow);
        box-shadow: var(--circle-checked-shadow);
    }

    .audio-label {

        margin-top: 10px;

    }

.audio-label2 {
    margin-top: -10px;
}

.audio-label3 {
    margin-top: 10px;
}

.tracado {

    opacity: 50% !important;
    font-size: 10px !important;
    
}

.versao {
    font-size: 30px;
    margin-top: -30px;
}


.cursor {
    font-size: 30px;
   
}




.termos {
    display: flex;
    flex-direction: row;
    justify-content: right;
    color: black;
}

    .termos:hover {
        color: #eb7fe2;
    }



.dificuldade {
    max-width: 300px;
    width: 100%;
    accent-color: rgb(197, 49, 149);
    margin-top: 10px;
}

.rangedificuldade {
    width: 250px !important;
    height: 10px !important;
}

#selectedOptionText {
    font-family: 'Righteous', sans-serif;
    color: white;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 14px;
    margin-top: 10px;

}

.titulodificuldade {
    font-family: 'Righteous', sans-serif;
    color: white;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 17px;
    margin: auto;
    width: fit-content;
}
#Jogosanteriores {
    position: fixed;
    left: 0;
    width: 100px;
    height: 400px; /* Definido como 100% da altura da viewport */
    overflow-y: scroll;
    border: 1px solid black;
    margin-top: 200px
}

.item {
    width: 35px;
    height: 35px; /* Ajuste conforme necessário */
    background-color: lightgray; /* Adicione cor de fundo para os itens */
    border-bottom: 1px solid black;
    border-radius: 50px /* Adicione uma borda inferior para separar os itens */
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../Imagens/fundo-alternativo.png); /* imagem de fundo */
    background-size: cover; /* ajustar o tamanho da imagem */
    background-position: center; /* centralizar a imagem */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99; /* garante que o overlay esteja acima de todos os outros elementos */
    opacity: 1; /* definir a opacidade inicial */
    transition: opacity 0.5s ease; /* adicionar transição para a opacidade */
}

    .overlay.fade-out {
        opacity: 0; /* definir a opacidade para 0 para fazer o fade-out */
    }


.wrapper {
    width: 200px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left: 15%;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease;
}

@keyframes circle {
    0% {
        top: 60px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }

    40% {
        height: 20px;
        border-radius: 50%;
        transform: scaleX(1);
    }

    100% {
        top: 0%;
    }
}

.circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
}

.circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
}

@keyframes shadow {
    0% {
        transform: scaleX(1.5);
    }

    40% {
        transform: scaleX(1);
        opacity: .7;
    }

    100% {
        transform: scaleX(.2);
        opacity: .4;
    }
}

.shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
}

.shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.wrapper span {
    position: absolute;
    top: 75px;
    font-family: "Righteous", sans-serif;
    font-size: 20px;
    letter-spacing: 12px;
    color: #fff;
    left: 15%;
}