:root {
    --maincolor: rgb(197, 49, 149);
    --secundarycolor: rgb(12,29,135);
}


body {
    
    background-image: url(../Imagens/fundo-alternativo.png);
 
}


/* CSS */
.custom-cursor,
.custom-cursor input,
.custom-cursor button,
.custom-cursor a {
    cursor: url('../Imagens/cursor.cur'), auto !important;
}
