body {
    background: linear-gradient( #39386d, #24233f);
}

.Btn {
    width: 45px;
    height: 45px;
    background: linear-gradient(#eb7fe2, rgb(197, 49, 149));
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    border: none;
    transform: rotate(-90deg) scale(1, 1);
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: 0 0 0 2px rgb(12,29,135);
    z-index: 999;
}

.arrow path {
    fill: white;
}

.logo {
    width: 140px;
    margin: 10px;
    background-image: url(/Imagens/LOGO-AGES.png);
    background-size: 100%;
    height: 210px;
    background-repeat: no-repeat;
    z-index: 1 !important;
}



.Btn:hover .text {
    opacity: 1;
    transition-duration: .7s;
}

.Btn:hover .arrow {
    animation: slide-in-bottom .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.termos {
    text-align: justify;
    z-index: 999;
    margin-top: 20px;
    user-select: none;
    pointer-events: none;
    color: white;
}





.titulo {
    font-size: 40px;
    color: white;
    margin-bottom: 20px
}

.explicacao {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    letter-spacing: 0;
    line-height: 30px;
    opacity: 90%;
}




@keyframes slide-in-bottom {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


span {
    color: #eb7fe2;
    font-size: 18px
}



@media (max-width: 570px) {

    .logo {
        transform: scale(0.5);
        position: fixed; /* Para manter a logo fixa na tela */
        margin-top: -60px;
        margin-right: -40px;
    }

    .titulo {
        font-size: 30px;
        margin: 10px;
    }

    .explicacao {
    }

    .circle {
        width: 20px;
        height: 20px;
        position: absolute;
        border-radius: 50%;
        background-color: #fff;
        left: 15%;
        transform-origin: 50%;
        animation: circle .5s alternate infinite ease;
    }

    @keyframes circle {
        0% {
            top: 60px;
            height: 5px;
            border-radius: 50px 50px 25px 25px;
            transform: scaleX(1.7);
        }

        40% {
            height: 20px;
            border-radius: 50%;
            transform: scaleX(1);
        }

        100% {
            top: 0%;
        }
    }

    .circle:nth-child(2) {
        left: 45%;
        animation-delay: .2s;
    }

    .circle:nth-child(3) {
        left: auto;
        right: 15%;
        animation-delay: .3s;
    }

    .shadow {
        width: 20px;
        height: 4px;
        border-radius: 50%;
        background-color: rgba(0,0,0,.5);
        position: absolute;
        top: 62px;
        transform-origin: 50%;
        z-index: -1;
        left: 15%;
        filter: blur(1px);
        animation: shadow .5s alternate infinite ease;
    }
