<!DOCTYPE html>

<html>
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/Imagens/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Imagens/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Imagens/favicon-16x16.png">
    <link rel="manifest" href="/Imagens/site.webmanifest">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/IndexGlobal.css" />
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Righteous&family=Roboto+Condensed:wght@300&display=swap" ;rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ages: The Game!</title>

</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Global/getCookies.js"></script>
    
    
    
</body>
</html>
